{% extends 'base.html.twig' %}

{% block title %}Listagem de Times - {% endblock %}

{% block body %}
    <h1>Listagem de Times</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <td>Cod.</td>
                <td>Nome</td>
                <td>Escudo</td>
                <td>Ação</td>
            </tr>
        </thead>
        <tbody>
            {% for time in times %}
                <tr>
                    <td>{{ time.id }}</td>
                    <td>{{ time.nome }}</td>
                    <td><img width="100" src="/uploads/times/escudos/{{ time.escudo }}" alt=""></td>
                    <td><a href="{{ path("listar-partida-por-time", {"id": time.id}) }}" class="btn btn-primary">Ver Partidas</a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Nenhum time cadastrado!</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
