{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>Gerenciador de Campeonatos</h1>
        <p class="lead">Neste sistema, vamos aprofundar nosso conhecimento em Symfony4.</p>
        <a class="btn btn-lg btn-primary" href="/docs/4.2/components/navbar/" role="button">Gerenciar Resultados</a>
    </div>
{% endblock %}
