{% extends "base.hmtl.twig" %}

{% block title %}
    Classificacao - Campeonato {{ campeonato.nome }}
{% endblock %}

{% block body %}
    <h1 class="display-3">Classificacao - Campeonato {{ campeonato.nome }}</h1>

    <table class="table table-striped-table-hover">
        <thead>
        <tr>
            <td></td>
            <td>Time</td>
            <td>Gols Pró</td>
            <td>Gols Sofridos</td>
            <td>Saldo</td>
            <td>Pontos</td>
        </tr>
        </thead>
        <tbody>
            {% for posicao in classificacao %}
                <tr>
                    <td><img width="60" src="/uploads/times/escudos/{{ posicao.time_escudo }}" /></td>
                    <td>{{ posicao.time_nome }}</td>
                    <td>{{ posicao.gols_pro }}</td>
                    <td>{{ posicao.gols_sofridos }}</td>
                    <td>{{ posicao.gols_saldo }}</td>
                    <td>{{ posicao.pontos }}</td>
                </tr>
            {% else %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}