{% extends 'base.html.twig' %}

{% block title %}Listagem de Campeonatos - {% endblock %}

{% block body %}
    <h1>Listagem de Campeonatos</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Cod.</th>
            <th>Nome</th>
            <th>Organizador</th>
            <th>Ação</th>
        </tr>
        </thead>
        <tbody>
        {% for campeonato in campeonatos %}
        <tr>
            <td>{{ campeonato.id }}</td>
            <td>{{ campeonato.nome }}</td>
            <td>{{ campeonato.organizacao.nome }}</td>
            <td><a href="{{ path("classificacao", {"id": campeonato.id}) }}" class="btn btn-primary">Ver Classificação</a></td>
        </tr>
        {% else %}
            <tr>
                <td colspan="=3">Nenhum campeonato cadastrado!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
